{%- block html_html -%}
<!DOCTYPE html>
<html>

<head lang="en">
    {% block html_head -%}

    {% block html_meta -%}
    <meta charset="UTF-8">
    {%- endblock html_meta %}

    <title>{% block title %}GitHub Status{%- block append_title %}{% endblock %}{% endblock %}</title>

    {% block styles %}
    <link rel="shortcut icon" href="/static/favicon.ico?" />
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/datatables/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="/static/datatables/css/dataTables.bootstrap.css" />
    {% endblock %}

    {%- endblock html_head %}
</head>

<body>
    {% block html_body %}
        {% block navbar %}
        {% include 'navbar.html' %}
        {% endblock %}

        {% block content %}
        <div class="container">
            {% block container %}
            {% endblock container %}
        </div>
        {% endblock content %}
    {% endblock html_body %}

    {% block scripts -%}
    <script type="application/javascript" src="/static/jquery/jquery-2.1.1.min.js"></script>
    <script type="application/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script type="application/javascript" src="/static/datatables/js/jquery.dataTables.min.js"></script>
    <script type="application/javascript" src="/static/datatables/js/dataTables.bootstrap.min.js"></script>
    {%- endblock scripts %}
</body>
</html>
{%- endblock html_html %}
