{% extends 'base.html' %}

{% block container %}
    <div>
        <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#add_repo_modal">
            Add Repo
        </button>
        <h1 class="page-header">Tracked Repositories</h1>
    </div>

    <table class="table table-condensed table-striped table-bordered">
        <thead>
            <tr>
                <th>Repository URL</th>
                <th>Top 3 Committers</th>
                <th>Last Commit Details</th>
            </tr>
        </thead>
        <tbody>
            {% for row in table_rows %}
            {% else %}
                <tr>
                    <td colspan="3" style="text-align: center;">
                        No tracked repositories. Add a repository first.
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="modal fade" id="add_repo_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">Add Repository</h4>
                </div>

                <form class="form-inline" role="form">
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="sr-only">GitHub prefix</label>
                            <p class="form-control-static">https://github.com/</p>
                        </div>
                        <div class="form-group">
                            <label for="repo_url_field" class="sr-only">GitHub suffix</label>
                            <input type="text" class="form-control" id="repo_url_field" placeholder="user/project">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <a href="#" class="btn btn-primary" id="verify_add_button">Verify and Add</a>
                    </div>
                </form>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}
